<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Form</title>
</head>
<body>
    <h1> Enter Roll Number in the form below to delete </h1>
    <form action="deletedetails" method="post">
        <label for="na">Enter Roll Number: </label>
        <input type = "text" id = "na" name="roll" required />

        <br><br>

        <input type="submit" value="submit" />

    </form>
</body>
</html>